* {
    margin: 0;
    padding: 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #6c757d;
}

nav.r-nav {
    background: transparent;
    padding: 20px 0;
    transition: .5s all;
}

nav .navbar-brand {
    font-size: 30px;
    color: #fff;
}

nav .navbar-nav li a {
    color: rgba(255, 255, 255, 0.8) !important;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
}

nav .navbar-nav li {
    margin-left: 15px;
}

nav.r-nav.stickyadd {
    background: #fff;
    padding: 15px 0;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: .5s all ease-in-out;
}

nav.stickyadd .navbar-brand {
    color: #000;
    font-size: 40px;
    transition: .5s all;
}

nav.stickyadd .navbar-nav .nav-link {
    color: #000 !important;
}

.navbar .hamburger {
    color: #fff;
}

nav.stickyadd .hamburger {
    color: #000;
}

header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-box {
    max-width: 700px;
    color: #fff;
}

.content-box h4 {
    font-size: 30px;
}

.content-box h1 {
    font-size: 52px;
}

.content-box a {
    color: #fff;
    text-decoration: none;
    border: 2px solid #fff;
    border-radius: 20px;
    padding: 5px 25px;
}

.content-box a:hover {
    color: #000;
    background: #fff;
    transition: 0.5s all;
}

.content-box p {
    color: #fff;
}

.about li a {
    color: #000;
    display: inline-block;
    height: 42px;
    width: 42px;
    font-size: 20px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    line-height: 40px;
    transition: 0.5s all;
    text-align: center;
}

.about li a:hover {
    color: cadetblue;
}

.r-p {
    padding-top: 80px;
    padding-bottom: 80px;
}

.exp-class{
    padding-bottom: 50px;
}

.exp-class .progress {
    height: 10px;
    border-radius: 20px;
    font-size: 10px;
}

.progress-bar {
    background-color:cadetblue !important;
}

.exp-class label {
    font-size: 20px;
    margin: 10px;
}

.bg-sec {
    background: #F8F0FA !important;
}

.card,
.card-header {
    background-color: #F8F0FA !important;
}

.card-header {
    border: none !important;
}

.services-class .card-header i {
    font-size: 50px;
}

.service-border {
    height: 2px;
    width: 40px;
    margin: 15px auto;
    background: cadetblue;
}

.r-btn {
    padding: 5px 20px;
    background-color: cadetblue !important;
    color: #fff !important;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 99999;
}

.preloader::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 140%;
    height: 70%;
    background: #000;
    transition: 2s;
}

.preloader::after {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    background: #000;
    transition: 2s;
}

.preloader.complete::before {
    bottom: -70%;
}

.preloader.complete::after {
    top: -70%;
}

.preloader.complete {
    visibility: hidden;
}

.work .card-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact .r-icon {
    font-size: 50px;
    text-align: center;
}

footer {
    height: 200px;
    background-color: #333333;
}

footer .r-icon a {
    font-size: 20px;
    color: #848484;
    padding: 10px;
    border: 1px solid #848484;
    border-radius: 50%;
}

footer .r-icon a:hover {
    border: 1px solid #eee;
    color: #eee;
    transition: .5s all;
}